streamlit==1.30.0
st-pages==0.4.5
pyppeteer==1.0.2
plotly==5.18.0
pandas==2.2.0
numpy==1.26.3
matplotlib==3.8.2
requests==2.31.0
fitdecode==0.10.0
s3fs==2023.12.2
pyfitness==0.2.1
ruff==0.1.14
black==23.12.1
watchdog==3.0.0
pur==7.3.1
